/*BEGIN PS4 White Controller Styling*/
.controller.ds4.white {
    background-image: url(basemod.png);
}

.ds4.white .button {
    background-image: url(facemod.png);
}

.ds4.white .stick {
    background-image: url(sticksmod.png);
}

/*END PS4 White Controller Styling*/